@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .custom-container {
    @apply max-w-[98%] mx-auto px-4 sm:px-6 lg:px-8;
  }

  .custom-container-under {
    @apply max-w-[83%] mx-auto px-4 sm:px-6 lg:px-8;
  }
}

body {
  font-size: 13px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-hover {
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 20px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-5 {
  background-image: linear-gradient(
    to right,
    #126a25,
    #23d049,
    #126a25,
    #126a25
  ) !important;
  box-shadow: 0 4px 15px 0 rgba(8, 109, 67, 0.75);
}

.navbar-content .active {
  background: rgba(18, 106, 37, 0.1);
  border-bottom: 2px solid #126a25;
  border-radius: 36px;
  padding: 10px 16px 6px 16px;
  color: #126a25;
  fill: #126a25;
}

@media (max-width: 640px) {
  .custom-container-under {
    max-width: 100%;
  }

  .custom-container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
