.primary-plus-Button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10.0465px 20.093px;
  gap: 8.37px;

  width: 100%;
  height: 46px;

  background: linear-gradient(88.76deg, #d4af37 1.13%, #f7ab3c 97.72%);
  color: #000000;
  box-shadow: 0px 3.34884px 16.7442px rgba(247, 176, 59, 0.5);
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  &:active,
  &:hover,
  &:focus {
    background: linear-gradient(
      88.76deg,
      #d4af37 1.13%,
      #f7ab3c 97.72%
    ) !important;
    color: #000000 !important;
  }
}

.primary-Button {
  /* Auto Layout Horizontal */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10.0465px 20.093px;
  gap: 8.37px;

  width: 100%;
  height: 46px;

  background: linear-gradient(267.87deg, #468054 2.86%, #22512e 97.87%);
  box-shadow: 0px 3.34884px 16.7442px rgba(68, 124, 81, 0.5);
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  &:active,
  &:hover,
  &:focus {
    background: linear-gradient(
      267.87deg,
      #468054 2.86%,
      #22512e 97.87%
    ) !important;
  }
}

.standard-button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10.0465px 20.093px;
  gap: 8.37px;

  width: 100%;
  height: 46px;

  background: rgba(239, 254, 242, 0.15);
  color: #0d0d12;
  border: 0.5px solid #303133;
  backdrop-filter: blur(8.37209px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  &:active,
  &:hover,
  &:focus {
    background: rgba(239, 254, 242, 0.15) !important;
    color: #0d0d12 !important;
  }
}

.view-all-pack {
  background: #effef2 !important;
  border: 0.5px solid #126a25 !important;
  backdrop-filter: blur(8.37209px);
  -webkit-backdrop-filter: blur(8.37209px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
}

.prime-button {
  width: 100%;
  background: linear-gradient(39.1deg, #126a25 0.46%, #23d049 110.68%);
  box-shadow: 0px 3.34884px 16.7442px rgba(68, 124, 81, 0.5);
  border-color: #23d049;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 7px;
  gap: 7.56px;

  &:hover {
    background: linear-gradient(
      39.1deg,
      #126a25 0.46%,
      #23d049 110.68%
    ) !important;
  }
}

.refer-friend-button {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 20.093px;
  gap: 8.37px;

  color: #147529;

  background: #effef2;
  border: 0.5px solid #126a25;
  backdrop-filter: blur(8.37209px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  &:hover {
    color: #147529 !important;
    background: #effef2 !important;
  }
}

.pp-upgrade {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 6.98px;

  margin: 0 auto;
  height: 45px;

  background: linear-gradient(88.76deg, #d4af37 1.13%, #f7ab3c 97.72%);
  box-shadow: 0px 2.7907px 13.9535px rgba(247, 176, 59, 0.5);
  border-radius: 10px;
  color: #0f172a;

  &:hover {
    background: linear-gradient(
      88.76deg,
      #d4af37 1.13%,
      #f7ab3c 97.72%
    ) !important;
    color: #0f172a !important;
  }
}

.more-breadcome {
  ol {
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #475569;

      &:last-child {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: #126a25;
      }
    }
  }
}
