.pack-details {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  color: #020617;
}

.packages-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  .pp-image {
    padding: 10.0465px;
    // width: 36px;
    // height: 36px;
    background: linear-gradient(88.76deg, #d4af37 1.13%, #f7ab3c 97.72%);
    box-shadow: 0px 3.34884px 16.7442px rgba(247, 176, 59, 0.5);
    border-radius: 12px;
  }

  .p-image {
    padding: 10.0465px;
    // width: 36px;
    // height: 36px;
    background: linear-gradient(267.87deg, #468054 2.86%, #22512e 97.87%);
    box-shadow: 0px 3.34884px 16.7442px rgba(68, 124, 81, 0.5);
    border-radius: 12px;
  }

  .s-image {
    padding: 10.0465px;

    background: #0f172a;
    box-shadow: 0px 3.34884px 16.7442px rgba(15, 23, 42, 0.25);
    border-radius: 12px;
  }

  .price-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;

    /* slate/900 */
    color: #0f172a;
  }
}

.premium-plus-card-landing {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 18px;

  background: rgba(212, 175, 55, 0.2);
  border-bottom: 1px solid rgba(212, 175, 55, 0.4);
  border-radius: 20px 20px 0px 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.premium-card-landing {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 18px;

  background: rgba(75, 127, 82, 0.15);
  border: 1px solid rgba(75, 127, 82, 0.4);
  border-radius: 16px 16px 0px 0px;
  padding: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.standard-card-landing {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;

  background: #f2f2f2;
  border: 1px solid rgba(15, 23, 42, 0.25);
  border-radius: 20px 20px 0px 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.package-details {
  /* Auto Layout Vertical */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
  gap: 16px;

  .pp-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }
}

.lang-select {
  height: 40px;
  .ant-select-selector {
    border-radius: 10px;
  }
  .ant-select-arrow {
    .anticon-down {
      svg {
        fill: #292d32;
      }
    }
  }
}

.expect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  .expect-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    height: 48px;

    background: #f8fafc;
    border-radius: 12px;
    width: 100%;
    .content-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 8px;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
    }
    .number-card {
      width: 27px;
      height: 28px;
      border-radius: 45px;
      background: #e2e8f0;
      position: relative;

      .number {
        position: absolute;
        height: 14px;
        left: 10px;
        top: 5px;
      }
    }
  }
}

.signature-canvas-content {
  .placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-style: normal;
    font-weight: 275;
    font-size: 19.3239px;
    line-height: 140%;
    color: #94a3b8;
  }
}

.tax-planning-card {
  background: #effef2;
  border: 0.5px solid #126a25;
  backdrop-filter: blur(8.37209px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
  padding: 8px 12px;
}

.payment-card {
  position: relative;
  .left-bar {
    position: absolute;
    width: 5px;
    height: 70px;
    left: 0px;
    top: 9px;

    background: linear-gradient(47.39deg, #126a25 13.29%, #23d049 93.18%);
    border-radius: 12px;
  }
}

.premium-pack-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px;

  background: rgba(212, 175, 55, 0.2);
  border: 1px solid rgba(212, 175, 55, 0.4);
  border-radius: 12px;
}

.premium-pack-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px;

  background: rgba(75, 127, 82, 0.15);
  border: 1px solid rgba(75, 127, 82, 0.4);
  border-radius: 12px;
}

.standard-pack-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  background: rgba(15, 23, 42, 0.05);
  border-radius: 12px;
}

.payment-warning {
  padding: 8px 0px;
  gap: 8px;
  width: 100%;
  background: rgba(236, 152, 75, 0.05);
  border-radius: 12px;
}
