.standard-bg {
  background: rgba(15, 23, 42, 0.05);
}

.navbar-content {
  .active {
    background: rgba(18, 106, 37, 0.1);
    border-bottom: 2px solid #126a25;
    border-radius: 36px;
    padding: 10px 16px 6px 16px;
    color: #126a25;

    svg {
      path {
        stroke: #126a25;
      }
    }
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
